.container_main{
  filter:hue-rotate();
  margin:300px auto 0px auto;
  width: fit-content;
  height:174px;
  text-align: center;
  transition: 0.5s;
  border-radius: 80px;
  border: 2px solid white;
  border-radius: 80px;
  box-shadow:3px 3px 10px black;
  background: linear-gradient(45deg,#e73c7e,#23a6d5,#23d5ab);
  background-size: 100% 100%;
}
.container_main:hover{
  height: 329px;
}
.container_main:hover .opacity_change{
  height:150px;
  width:150px;
  margin-top:50px;
  opacity:0;
  animation-name: openning;
  animation-duration: 0.5s; 
  animation-iteration-count:1;
  animation-timing-function: linear;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes openning{
  0%{
    height:150px;
    width:601px;
    opacity:1;
    filter:blur(100px);
  }
  50%{
    filter:blur(0px);
    height:150px;
    width:150px;
    opacity:1;
  }
  100%{
    filter:blur(0px);
    height:150px;
    width:150px;
    opacity:1;
  }
}
.caption>p{
  display: inline;
  font-size: 70px;
  margin: 0px 10px 0px 10px;
  color: white;
  position:relative;
  text-align: center;
}
.caption{
  padding: 50px 25px;
  width: 601px;
  height: 72px;
  margin: auto;
  text-shadow: 3px 3px 10px black;
}
 .href{
  text-decoration: none;
  width:150px;
  height:150px;
}
.opacity_change{
  transition: 0.5s;
  height:0px;
  width:0px;
  opacity:0;
}
.caption>p{

  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
html:hover .caption>p{
  animation-name: up_to_top;
}
@keyframes up_to_top{
  0%{
    bottom: 0px;
  }
  25%{
    bottom:50px;
  }
  50%{
    bottom: 0px;
  }
  75%{
    bottom: -50px;
  }
  100%{
    bottom:0px;
  }
}
